locals.zsh
log/.zsh_history
projects.zsh
custom/*
!custom/libxml2.zsh
!custom/ruby.zsh
!custom/colors.zsh
!custom/plugins
!custom/plugins/stupied4ever
!custom/plugins/stupied4ever/stupied4ever.plugin.zsh
!custom/example
!custom/example.zsh
*.swp
!custom/example.zshcache
cache/
